.sec{
	display: flex;
	flex-direction: row;
}
#resumeb{
	background-color: white;
	display: flex;
}
#main{
	display: flex;
	justify-content: space-around;
	width: 25%;
	flex-wrap: wrap;
	
}
#profile>img{
	height: 45%;
	width: 60%;
	margin: 15%;
}
#profile>h1,h2,h3{
	text-align: center;
}
#profile>a{
	margin: 9%;
}
.font{
	font-size: 20px;
}
table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}
th{
	background-color: #DCDCDC;
}
#about{
	display: flex;
	flex-wrap: wrap;
}
.details{
	margin: 6%;
}
.detals>ul,li{
	list-style-type: none;
	font-size: 20px;
	padding-top: 4px;
	font-weight: bold;
}



@media screen and (min-width: 320px) and (max-width: 480px){
#main{
	display: inline-flex;
	flex-direction: column;
	margin:1% 10% 5% 10%;
	font-size: 30px;
}
#mainsection{
	display: flex;
	flex-direction: column;
}
.sec{
	display: flex;
	flex-direction: column;
}
#profile,h1,h2{
	text-align: center;
}
}